#topo{
    width: 100%;
    height: 100px;
    background-color: rgb(44, 149, 114);
    color: azure;
    font-size: 40px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#topo:hover{
    background-color: black;
}

.quadrado{
    width: 100px;
    height: 100px;
    background-color: bisque;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: brown;
    font-size: 30px;
    border:1px solid; 
}

.quadrado:hover{
    border: 5px dashed;
}
.quadradão{
    width: 300px;
    height: 300px;
    background-color: chocolate;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    color: aqua;
    text-align: right;
    border: 2px solid;
    cursor: pointer;   
}
